
<div class="col-md-6">
    <!-- START card-->
    <div class="card card-default">
        <div class="card-header"><strong>Crear Usuario</strong></div>
        <div class="card-body">
            <form class="form-horizontal">
                <div class="form-group row">
                    <label class="col-xl-2 col-form-label">Razón Social:</label>
                    <div class="col-xl-10">
                        <input [(ngModel)]="userForm.razon" name="razon" class="form-control" type="string" placeholder="Razón Social" [ngModelOptions]="{standalone: true}"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-xl-2 col-form-label">Sucursal:</label>
                    <div class="col-xl-10">
                        <input [(ngModel)]="userForm.sucursal" name="sucursal" class="form-control" type="string" placeholder="Sucursal" [ngModelOptions]="{standalone: true}"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-xl-2 col-form-label">Representante Legal:</label>
                    <div class="col-xl-10">
                        <input [(ngModel)]="userForm.representante" name="representante" class="form-control" type="string" placeholder="Representante Legal" [ngModelOptions]="{standalone: true}"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-xl-2 col-form-label">Dirección:</label>
                    <div class="col-xl-10">
                        <input [(ngModel)]="userForm.direccion" name="direccion" class="form-control" type="string" placeholder="Dirección" [ngModelOptions]="{standalone: true}"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-xl-2 col-form-label">Teléfono:</label>
                    <div class="col-xl-10">
                        <input [(ngModel)]="userForm.telefono" name="telefono" class="form-control" type="number" placeholder="Teléfono" [ngModelOptions]="{standalone: true}"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-xl-2 col-form-label">Email:</label>
                    <div class="col-xl-10">
                        <input [(ngModel)]="userForm.email" name="email" class="form-control" type="email" placeholder="Email" [ngModelOptions]="{standalone: true}"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-xl-2 col-form-label">CUIL:</label>
                    <div class="col-xl-10">
                        <input [(ngModel)]="userForm.cuil" name="cuil" class="form-control" type="number" placeholder="Cuil" [ngModelOptions]="{standalone: true}"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-xl-2 col-form-label"></label>
                    <div class="col-xl-10">
                        <button class="btn btn-sm btn-secondary" type="submit" (click)="createUser()">Crear</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- END card-->
</div>