
<div class="col-md-6">
    <!-- START card-->
    <div class="card card-default">
        <div class="card-header"><strong>Crear Usuario</strong></div>
        <div class="card-body">
            <form class="form-horizontal">
                <div class="form-group row">
                    <label class="col-xl-2 col-form-label">Nombre:</label>
                    <div class="col-xl-10">
                        <input [(ngModel)]="userForm.nombre" name="nombre" class="form-control" type="string" placeholder="Nombre" [ngModelOptions]="{standalone: true}"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-xl-2 col-form-label">Email:</label>
                    <div class="col-xl-10">
                        <input [(ngModel)]="userForm.email" name="email" class="form-control" type="email" placeholder="Email" [ngModelOptions]="{standalone: true}"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-xl-2 col-form-label">Teléfono:</label>
                    <div class="col-xl-10">
                        <input [(ngModel)]="userForm.telefono" name="telefono" class="form-control" type="string" placeholder="Telefono" [ngModelOptions]="{standalone: true}"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-xl-2 col-form-label">Contraseña:</label>
                    <div class="col-xl-10">
                        <input [(ngModel)]="userForm.pass" name="pass" class="form-control" type="string" placeholder="Contraseña" [ngModelOptions]="{standalone: true}"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-xl-2 col-form-label">Rol:</label>
                    <div class="col-xl-10">
                        <input [(ngModel)]="userForm.rol" name="rol" class="form-control" type="string" placeholder="Rol" [ngModelOptions]="{standalone: true}"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-xl-2 col-form-label">Dirección:</label>
                    <div class="col-xl-10">
                        <input [(ngModel)]="userForm.direccion" name="direccion" class="form-control" type="string" placeholder="Dirección" [ngModelOptions]="{standalone: true}"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-xl-2 col-form-label">Rubro:</label>
                    <div class="col-xl-10">
                        <input [(ngModel)]="userForm.rubro" name="rubro" class="form-control" type="string" placeholder="Rubro" [ngModelOptions]="{standalone: true}"/>
                    </div>
                </div>
                <div class="form-group row"> 
                    <label class="col-xl-2 col-form-label"></label>
                    <div class="col-xl-10">
                        <button class="btn btn-sm btn-secondary" type="submit" (click)="createUser()">Crear</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- END card-->
</div>