<div class="home-container">
    <div class="jumbotron">
        <div class="row">
            <div class="col-xl-3 col-lg-4">
                <div class="text-center">
                    <img alt="full-control" class="img-fluid home-logo" src="assets/img/logo-fullcontrol.png" />
                </div>
            </div>
            <!--<div class="col-xl-9 col-lg-8 home-text">
                <br><p>
                    Los mejores profesionales a su servicio.
                </p>
            </div>-->
        </div>
    </div>
    <div class="pres">
            <h3 class="page-header mt-0">Bienvenidos a Full Control</h3>
            <div class="carousel">
                <carousel [interval]="myInterval" [noWrap]="false">
                    <slide *ngFor="let slidez of slides; let index=index" [active]="slidez.active">
                        <img [src]="slidez.image" class="img-fluid">
                        <div class="carousel-caption">
                        </div>
                    </slide>
                </carousel>
            </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="card b">
                <div class="card-header">
                    <em class="fa-2x mr-2 fas fa-cogs"></em>
                    <br>
                    <h3>Profesionalismo</h3>
                </div>
                <div class="card-body">
                    Somos su mejor aliado, ponemos todos nuestros recursos y capacidades para que su empresa esté a la vanguardia y garantizando la calidad de todos nuestros procedimientos basados en más de 10 años de experiencia.
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card b">
                <div class="card-header">
                    <em class="fa-2x mr-2 fas fa-user-friends"></em>
                    <br>
                    <h3>Peopleware</h3>
                </div>
                <div class="card-body">
                    Personal altamente capacitado, profesional, entrenado con los último conocimientos en materia de Seguridad Industrial y Ambiental; proponen, la estratégia para conseguir: la armonía, la eficiencia, la productividad en su empresa, siendo claves para ejerecer el liderazgo.
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card b">
                <div class="card-header">
                    <em class="fa-2x mr-2 fas fa-undo-alt"></em>
                    <br>
                    <h3>Feedback</h3>
                </div>
                <div class="card-body">
                    Retroalimentación, es la clave para nuestro beneficio y el éxito de su empresa. Contar con nuestro apoyo facilita el desempeño de su negocio. En un constante sinergia.
                </div>
            </div>
        </div>
    </div>
</div>