@import "../../../shared/styles/bootstrap/_functions.scss";
@import "../../../shared/styles/bootstrap/_variables.scss";
@import "../../../shared/styles/bootstrap/_mixins";
@import '../../../shared/styles/app/variables.scss';

.home-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
   // max-width: map-get($container-max-widths, "lg");
    width: 80% !important;

    .home-logo {
        width: 240px;
    }

    .home-text {
        text-align: center;
        @include media-breakpoint-up(lg) {
            text-align: left;
        }
    }
    
}

.carousel{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;

}

.card-header{
    border-bottom: 0;
    padding: 0.625rem 0.9375rem;
    background-color: transparent;
    display: flex;
    align-items: center;
    flex-direction: column;
}
